<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
  	<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    {% for greeting in greetings %}
      {% if greeting.author %}
      	{% if greeting.avatar %}
      		<img src="img?img_id={{ greeting.key() }}" /><br />
      	{% endif %}
        <b>{{ guestbook_name }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}

    <form action="/sign?{{ guestbook_name }}" enctype="multipart/form-data" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><label>Avatar:</label></div>
      <div><input type="file" name="img" /></div>
      <input type="hidden" value="{{ guestbook_name }}" name="guestbook_name">
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>

  </body>
</html>
{% endautoescape %}