{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
	<br/>
	<strong>Timeline : </strong><br/>
	<br/>
    {% for greeting in greetings %}
      {% if greeting.author %}
      	{% if greeting.user_id %}
        <a href="/?guestbook_name={{ greeting.user_id }}"><b>{{ greeting.author }}</b></a> wrote:
        {% else %}
        <b>{{ greeting.author }}</b> wrote:
        {% endif %}
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>
        <i class="icon-heart"></i> <a href="#" id="{{ greeting.key() }}" class="heartcount">{{ greeting.heartCount }}</a> | <a href="/sendHeart" id="{{ greeting.key() }}" class="heart"><i class="icon-plus"></i></a><br/>
		{% if greeting.avatar %}
      		<img src="image?img_id={{ greeting.key() }}" /><br/>
      	{% endif %}
      	{{ greeting.content }}
      </blockquote>
      <br/>
    {% endfor %}
    
    <script>
    	var links = $("a.heart");
    	links.click(function(event) {
    		event.preventDefault();
    		var id_value = $(this).attr("id");
    		$.post($(this).attr("href"),{id:id_value},function(result) {
    			var count=result.split(":",2);
				if (count[0] == "count") {
					$("#"+id_value+'.heartcount').html(count[1]);
				} else {
					//alert(result);
				} 
    		});
    	});
	</script>
{% endblock %}