{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
	<br/>
	Message : <br/>
    <form action="/post?{{ guestbook_name }}" enctype="multipart/form-data" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div>
      <input type="hidden" value="{{ guestbook_name }}" name="guestbook_name">
      <label>Attach Image:</label>
      <input type="file" name="img" /><br/>
      <input type="submit" value="Upload">
      </div>
    </form>
{% endblock %}